# Python
__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
venv/
env/

# IDE
.idea/
.vscode/

# Logs
*.log

# Cache
.cache
.pytest_cache/

# Coverage
.coverage
htmlcov/


